In [14]:
import pandas as pd

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [9]:
raw_data = pd.read_csv("https://gist.githubusercontent.com/michhar/2dfd2de0d4f8727f873422c5d959fff5/raw/ff414a1bcfcba32481e4d4e8db578e55872a2ca1/titanic.csv", sep='\t')

In [11]:
raw_data.drop(columns='Name', inplace=True)

In [15]:
raw_data['Sex_cat'] = raw_data['Sex'] == 'male'
raw_data.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_cat
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,True
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C,False
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,False
3,4,1,1,female,35.0,1,0,113803,53.1000,C123,S,False
4,5,0,3,male,35.0,0,0,373450,8.0500,NaN,S,True

In [21]:
features = ['Sex_cat', 'Pclass', 'Fare']
X = raw_data[features].values
Y = raw_data['Survived'].values

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)
[print(i.shape) for i in [X_train, X_test, Y_train, Y_test]]

(109, 3)
(47, 3)
(109,)
(47,)

[None, None, None, None]

In [26]:
model = DecisionTreeClassifier(max_depth=12)
model.fit(X_train, Y_train)
Y_pred = model.predict(X_test)

accuracy_score(Y_pred, Y_test)

0.8085106382978723

In [24]:
model = RandomForestClassifier(n_estimators=50)
model.fit(X_train, Y_train)
Y_pred = model.predict(X_test)

accuracy_score(Y_pred, Y_test)

0.7659574468085106